@charset "utf-8";
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
	
  }
  50% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
	
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
	
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
	
  }
  50% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
	
  }
 100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
	
  }
}
@-webkit-keyframes fadeInUpB {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
  }
  75% {
    opacity: 0.25;	
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpB {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
  }
  75% {
    opacity: 0.25;	
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.08, 1.08, 1.08);
    transform: scale3d(1.08, 1.08, 1.08);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.08, 1.08, 1.08);
    transform: scale3d(1.08, 1.08, 1.08);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes opacityA {
  0%{
    opacity: 0;    
  }
  100% {
    opacity: 1;
    
  }
}

@keyframes opacityA {
  0%{
    opacity: 0;    
  }
  100% {
    opacity: 1;
    
  }
}
@-webkit-keyframes opacityB {
  0%{
    opacity: 0;    
  }
  50%{
    opacity: 0;    
  }

  100% {
    opacity: 1;
    
  }
}

@keyframes opacityB {
  0%{
    opacity: 0;    
  }
  50%{
    opacity: 0;    
  }
  100% {
    opacity: 1;
    
  }
}
@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(-60%, 0, 0);
    transform: translate3d(-60%, 0, 0);
  }
}

@keyframes fadeOutLeft {
  0%{
    opacity: 1;
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(-60%, 0, 0);
    transform: translate3d(-60%, 0, 0);
  }
}
@keyframes floating {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(0.5%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(0.5%);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}
@-webkit-keyframes rotation{
	from {
		-webkit-transform: rotate(0deg);
		
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes rotation{
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
